# Created by venv; see https://docs.python.org/3/library/venv.html
# *
__pycache__/
Include/
Lib/site-packages/pygame/__pycache__
Lib/site-packages/_pytest/
Lib/site-packages/*
Lib/
share/
Lib/site-packages/
share/
Scripts/

*.png
*.html
*.csv
*.pdf

